<div class="navbar-custom-menu" style="float: right; padding: 10px; padding-top: 2px; display: none;"><h1><b>Reviews</b>SOS</h1>
</div>

<ul class="nav top nav-tabs" style="border-bottom: 0px !important;">
     <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "DASHBOARD", root_path, style: "border: 1px solid ##b0b3b7 !important;"  %></li>
      <li class="nav-item" style="background: #ffffff !important; display: none;">
        <a class="nav-link active" href="#">FUNNEL</a>
      </li>
      <li class="<%= 'active' if params[:controller] == 'widgets' %>"><%= link_to "WIDGETS", widgets_index_path, style: "border: 1px solid ##b0b3b7 !important;"  %></li>
      <li class="<%= 'active' if params[:controller] == 'invites' %>"><%= link_to "INVITES", invites_path, style: "border: 1px solid ##b0b3b7 !important;"  %></li>
      <li class="<%= 'active' if params[:controller] == 'businesses' %>"><%= link_to "REVIEWS", business_review_path, style: "border: 1px solid ##b0b3b7 !important;"  %></li>
      <li class="<%= 'active' if params[:controller] == 'reports' %>" onClick="thisRate(); thisRate1(); thisTable(); sumStars();"><%= link_to "REPORTING", business_reporting_path, style: "border: 1px solid ##b0b3b7 !important;" %></li>
    </ul>
